<script setup lang="ts">
import Button from '@/components/Button.vue';
import Counter from '@/components/Counter.vue';
import { useCounterStore } from '@/stores/counter.store';

const counterStore = useCounterStore();
</script>

<template>
  <div class="home-page">
    <p :style="{ 'text-align': 'center', 'font-weight': 700 }">
      На этой странице используется стейт менеджер, действие навешанное на кнопку вызывает фуункцию объявленную в стейт
      менеджере, которая увеличивает счётчик. При этом мы не передаём никаких параметров в компонент счётчика напрямую.
      Так же значения этого счётчика сохранятся, даже если перейти на другие страницы.
    </p>
    <Counter />
    <Button @click="counterStore.increment">Увеличить счётчик</Button>
  </div>
</template>

<style scoped>
.home-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);
}
</style>
