<script lang="ts" setup>
import Button from '@/components/Button.vue';
import type { TOrder } from '@/types/Order';
import { onMounted, ref } from 'vue';

const page = ref<number>(1);
const limit = ref<number>(10);
const orders = ref<TOrder[]>([]);
const disableBtn = ref<boolean>(false);
const loading = ref<boolean>(false);

async function getOrders() {
  if (disableBtn.value) return;
  loading.value = true;
  try {
    const url = new URL('https://6675f0e0a8d2b4d072f1f715.mockapi.io/orders');
    url.searchParams.append('limit', limit.value.toString());
    url.searchParams.append('page', page.value.toString());
    const response = await fetch(url, {
      method: 'get',
    });
    const data = await response.json();
    orders.value.push(...data);
    if (data.length && data.length === limit.value) {
      page.value = page.value + 1;
    } else {
      disableBtn.value = true;
    }
  } catch (err) {
    console.error(err);
  }
  loading.value = false;
}

async function loadMore() {
  loading.value = true;
  try {
    const url = new URL('https://6675f0e0a8d2b4d072f1f715.mockapi.io/orders');
    url.searchParams.append('limit', limit.value.toString());
    url.searchParams.append('page', page.value.toString());
    const response = await fetch(url, {
      method: 'get',
    });
    const data = await response.json();
  } catch (err) {
    console.error(err);
  }
  loading.value = false;
}

onMounted(async () => {
  await getOrders();
});
</script>

<template>
  <div class="orders-page">
    <table class="orders-table">
      <thead>
        <th>ID</th>
        <th>Город</th>
        <th>Оплачено</th>
        <th>Дата создания</th>
      </thead>
      <tbody>
        <tr v-for="order in orders" :key="order.id" :order="order">
          <td>{{ order.id }}</td>
          <td>{{ order.city }}</td>
          <td>{{ order.total }}{{ order.currency }}</td>
          <td>{{ order.createdAt }}</td>
        </tr>
      </tbody>
    </table>
    <Button @click="getOrders" class="orders-page__refresh" :class="{ 'orders-page__disabled': disableBtn }">
      {{ loading ? 'Loading...' : 'Догрузить' }}
    </Button>
  </div>
</template>

<style scoped>
.orders-page {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.orders-page__refresh {
  width: fit-content;
}

.orders-page__disabled,
.orders-page__disabled:hover {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}

.order-page__loading {
  color: black;
  display: block;
  padding: 1rem;
  font-size: 2rem;
}

.orders-table {
  width: 100%;
}

.orders-table th {
  text-align: left;
}

.orders-table th:last-child {
  text-align: right;
}

.orders-table td:last-child {
  text-align: right;
}
</style>
