<script lang="ts" setup>
import Button from '@/components/Button.vue';
import User from '@/components/User.vue';
import type { TUser } from '@/types/User';
import { onMounted, ref } from 'vue';

const page = ref<number>(1);
const limit = ref<number>(10);
const users = ref<TUser[]>([]);
const disableBtn = ref<boolean>(false);
const loading = ref<boolean>(false);

async function getUsers() {
  if (disableBtn.value) return;
  loading.value = true;
  try {
    const url = new URL('https://6675f0e0a8d2b4d072f1f715.mockapi.io/users');
    url.searchParams.append('limit', limit.value.toString());
    url.searchParams.append('page', page.value.toString());
    const response = await fetch(url, {
      method: 'get',
    });
    const data = await response.json();
    users.value.push(...data);
    if (data.length && data.length === limit.value) {
      page.value = page.value + 1;
    } else {
      disableBtn.value = true;
    }
  } catch (err) {
    console.error(err);
  }
  loading.value = false;
}

onMounted(async () => {
  await getUsers();
});
</script>

<template>
  <div class="users-page">
    <User v-for="user in users" :key="user.id" :user="user"></User>
    <Button @click="getUsers" class="users-page__more" :class="{ 'users-page__disabled': disableBtn }">
      {{ loading ? 'Loading...' : 'Догрузить' }}
    </Button>
  </div>
</template>

<style scoped>
.users-page {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.users-page__more {
  width: fit-content;
}

.users-page__disabled,
.users-page__disabled:hover {
  background-color: gray;
  color: black;
  cursor: not-allowed;
}

.users-page__loading {
  color: black;
  display: block;
  padding: 1rem;
  font-size: 2rem;
}
</style>
