<script lang="ts" setup>
import User from '@/components/User.vue';
import type { TUser } from '@/types/User';
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const route = useRoute('user/');
const router = useRouter();

const errorMessage = ref<string>();

const id = route.params.id as string;

const user = ref<TUser>();

async function getUser() {
  if (!id) return router.replace('/');
  try {
    const response = await fetch(`https://6675f0e0a8d2b4d072f1f715.mockapi.io/users/${id}`);
    if (response.ok) {
      user.value = await response.json();
    } else {
      errorMessage.value = await response.text();
    }
  } catch (err) {
    console.error(err);
  }
}

onMounted(async () => {
  await getUser();
});
</script>

<template>
  <div class="user-page">
    <User v-if="user" :user="user"></User>
    <div v-else class="loading">{{ errorMessage ? errorMessage : 'Loading...' }}</div>
  </div>
</template>

<style scoped>
.user-page {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.loading {
  background-color: antiquewhite;
}
</style>
