<template>
  <div class="button"><slot /></div>
</template>

<style scoped>
.button {
  padding: 1rem;
  background-color: hsla(160, 100%, 37%, 0.2);
  border-radius: 1rem;
}
.button:hover {
  background-color: hsla(160, 100%, 37%, 0.4);
  cursor: pointer;
}
</style>
