<script lang="ts" setup>
import { useCounterStore } from '@/stores/counter.store';
import { storeToRefs } from 'pinia';

const counterStore = useCounterStore();

const { counter, doubleCount } = storeToRefs(counterStore);
</script>

<template>
  <div class="Counter">Счётчик: {{ counter }}, вычисляемое значение: {{ doubleCount }}</div>
</template>
