<template>
  <header>
    <figure :style="{ display: 'flex' }">
      <img src="@/assets/logo.svg" width="32px" height="32px" alt="Это логотип =)" />
    </figure>
    <nav>
      <RouterLink to="/">Главная</RouterLink>
      <RouterLink to="/users">Пользователи</RouterLink>
      <RouterLink to="/orders">Заказы</RouterLink>
    </nav>
  </header>
</template>

<style scoped>
header {
  padding: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  background-color: honeydew;
  border-bottom: 1px solid lightseagreen;
}

nav {
  margin-left: 1rem;
}

nav a {
  padding: 0 1rem;
}
</style>
