<script lang="ts" setup>
import type { TUser } from '@/types/User';

const props = defineProps<{
  user: TUser;
}>();
</script>

<template>
  <RouterLink :to="`user/${user.id}`" class="user">
    <div class="user__logo">
      <img :src="user.avatar" />
    </div>
    <div class="user__name">{{ user.name }}</div>
  </RouterLink>
</template>

<style scoped>
.user {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  width: 320px;
  background-color: #bee4dddc;
}

.user__logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.user__logo img {
  height: 100%;
  position: relative;
}
</style>
